@import "tailwindcss";
@import "../../vendor/livewire/flux/dist/flux.css";

@source "../views/components/auth/**/*.blade.php";
@source "../views/pages/auth/**/*.blade.php";
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../vendor/livewire/flux-pro/stubs/**/*.blade.php";
@source "../../vendor/livewire/flux/stubs/**/*.blade.php";

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --color-accent: var(--color-blue-500);
    --color-accent-content: var(--color-blue-600);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-blue-500);
        --color-accent-content: var(--color-blue-400);
        --color-accent-foreground: var(--color-white);
    }
}

[data-flux-label] {
    margin-bottom: 6px;
    font-size: 13px;
}
